/* Add missing warning icon */
.layout-builder__message--defaults .messages.messages--warning {
  background-image: url('../../../core/misc/icons/e29700/warning.svg')
}

/* @todo remove if https://www.drupal.org/project/drupal/issues/3096681 lands */
.js-messages__wrapper.layout-container {
  width: 60vw;
  margin-left: -30vw;
}

.js-messages__wrapper {
  position: fixed;
  width: 60vw;
  margin-left: -30vw;
  left: 50%;
  z-index: 42;
  top: 0;
}

.messages__closeable {
  position: relative;
}

.drupal-message-close {
  border: none;
  background: url('../images/bebebe/ex.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  appearance: none;
}

.js-messages__wrapper .messages + .messages {
  margin-top: 1em;
}

.messages__closeable {
  animation: .5s ease-out .5s both fadeIn;
}

@supports (--css: variables) {
  .messages__closeable {
    animation: .5s ease-out calc(var(--animation-index) * .5s) both fadeIn;
  }
}


@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.toolbar-fixed .js-messages__wrapper {
  top: 20px;
}

.toolbar-horizontal.toolbar-tray-open .js-messages__wrapper {
  top: 60px;
}

.toolbar-vertical.toolbar-tray-open .js-messages__wrapper {
  top: 20px;
  margin-left: calc(-30vw + 7.5rem);
}
