.layout-builder__section {
  outline: 2px dashed #979797;
}

.layout-builder__layout {
  padding: 0 1em 1em;
}

.layout-builder__actions {
  display: inline-flex;
  align-items: center;
  padding: 2px 6px;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.layout-builder__actions__section {
  margin-bottom: 1em;
  background-color: #777;
}

.layout-builder__actions__block {
  margin: -2px 0 -2px 0;
  background-color: #618eab;
}

.layout-builder__actions .layout-builder__section-label {
  display: inline-block;
  margin-right: 4px;
}

.layout-builder__actions .layout-builder__link {
  position: relative;
  z-index: 2;
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  border: 0;
  font-size: 1rem;
}

.layout-builder__actions .layout-builder__link--configure {
  background: url(../images/ffffff/pencil.svg) center center / 12px 12px no-repeat;
}

.layout-builder__actions .layout-builder__link--configure:hover {
  background: url(../images/bebebe/pencil.svg) center center / 12px 12px no-repeat;
}

.layout-builder__actions .layout-builder__link--move {
  background: url(../images/ffffff/move.svg) center center / 12px 12px no-repeat;
}

.layout-builder__actions .layout-builder__link--move:hover {
  background: url(../images/bebebe/move.svg) center center / 12px 12px no-repeat;
}

.layout-builder__actions .layout-builder__link--remove {
  background: url(../images/ffffff/ex.svg) center center / 12px 12px no-repeat;
}

.layout-builder__actions .layout-builder__link--remove:hover {
  background: url(../images/bebebe/ex.svg) center center / 12px 12px no-repeat;
}

.layout-builder__add-section {
  padding: 0;
  text-align: left;
  outline: initial;
  background-color: #eee;
}

.layout-builder__add-section:hover {
  background-color: #ccc;
}

.layout-builder__link--add {
  display: block;
  padding: 0.5em 0;
  padding-left: 30px;
  background-position: 10px center;
}

.layout-builder__add-block {
  padding: 0;
  text-align: left;
}

.layout-builder__add-block:hover {
  background-color: #ccc;
}

.layout-builder__region {
  outline: initial;
}

.layout-builder__region > .layout-builder-block {
  margin: 10px 5px;
  padding: 0;
  border: 2px dotted #2f91da;
}

.layout-builder-block .layout-builder-block {
  padding: 1em;
}

.layout-builder__add-block {
  margin: 10px 5px;
}

/* Override colors and floats that Bartik sets. */
.layout-container .region-header,
.layout-container .region-header a {
  color: initial;
}

.layout-container .region-header .layout-builder-block {
  float: none;
  clear: none;
}
